<div id="contenedor">
  <mat-form-field>
    <mat-select placeholder="Cursos" [(value)]="idCurso">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let curso of arreglo_cursos" value={{curso.id}} (click)="cargarId(curso.id)">
        {{curso.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>


<mat-card class="card">


  <mat-card-content class="example-container" [formGroup]="preguntaForm">
    <mat-form-field>
      <input matInput  [(ngModel)]="var_pregunta.pregunta" placeholder="Pregunta" formControlName="pregunta" required>
       

      <div *ngIf="pregunta.invalid && (pregunta.dirty || pregunta.touched)"
    class="alert alert-danger">

  <div *ngIf="pregunta.errors.required">
    La pregunta es requerida.
  </div>
  <div *ngIf="pregunta.errors.maxlength">
    La pregunta debe ocupar max 20 caracteres
  </div>
</div>
    </mat-form-field>

    <mat-form-field>
      <input matInput  [(ngModel)]="var_pregunta.ponderacion" placeholder="Ponderacion" formControlName="ponderacion" required>
       

      <div *ngIf="ponderacion.invalid && (ponderacion.dirty || ponderacion.touched)"
    class="alert alert-danger">

  <div *ngIf="ponderacion.errors.required">
    La ponderacion es requerida.
  </div>
  <div *ngIf="ponderacion.errors.maxlength">
    La ponderacion debe ocupar maximo 3 caracteres
  </div>
</div>
    </mat-form-field>

 <mat-card-actions class="boton">
    <button mat-raised-button (click)="agregarPregunta()">Agregar</button>
  </mat-card-actions>

  </mat-card-content>
</mat-card>


<ng-container *ngIf="show_table">
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Pregunta</th>
      <th scope="col">Ponderacion</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pregunta of arreglo_preguntas">
      <td>{{pregunta.pregunta}}</td>
      <td>{{pregunta.ponderacion}}</td>
      <td> <a class="btn btn-primary btn-sm" routerLink="editar/{{pregunta.id}}" routerLinkActive="active">Ver/Editar</a></td>
      <td> <a class="btn btn-primary btn-sm" routerLink="resp_correcta/{{pregunta.id}}" routerLinkActive="active">Agregar respuesta correcta</a></td>
      <td> <a class="btn btn-primary btn-sm" routerLink="pos_respuesta/{{pregunta.id}}" routerLinkActive="active">Agregar posible respuesta</a></td>
      <td> <a class="btn btn-primary btn-danger" (click)="eliminarPregunta(pregunta.id)">Eliminar</a></td>
    </tr>
  </tbody>
</table>
</ng-container>

<ng-container *ngIf="show_p">
  <p>No hay preguntas para mostrar</p>
</ng-container>

</div>