<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Rellene</mat-card-title>
    <mat-card-subtitle>Todos los campos</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="example-container" [formGroup]="profesorForm">
    <mat-form-field>

      <input matInput placeholder="Nombre" formControlName="nombre"  required>
      <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
    class="alert alert-danger">

  <div *ngIf="nombre.errors.required">
    El nombre es requerido.
  </div>
  <div *ngIf="nombre.errors.maxlength">
    El nombre debe ocupar max 19 caracteres
  </div>
</div>


    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Apellido" formControlName="apellido" required>
      <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
    class="alert alert-danger">

  <div *ngIf="apellido.errors.required">
    El apellido es requerido.
  </div>
  <div *ngIf="apellido.errors.maxlength">
    El apellido debe ocupar max 19 caracteres
  </div>
</div>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Cedula" formControlName="cedula" required>

      <div *ngIf="cedula.invalid && (cedula.dirty || cedula.touched)"
        class="alert alert-danger">

      <div *ngIf="cedula.errors.required">
    El apellido es requerido.
  </div>
  <div *ngIf="cedula.errors.maxlength">
    La cedula debe ocupar max 9 caracteres
  </div>



</div>

   
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Correo" formControlName="correo" required>
      <mat-error *ngIf="profesorForm.get('correo').invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Contraseña" formControlName="contraseña" required>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions class="boton">
    <button mat-raised-button (click)="agregarProfesor()">Agregar</button>
  </mat-card-actions>
</mat-card>