<mat-card class="tarjeta">
  <h3>Informacion para la Pre-inscripcion e Inscripcion de cursos</h3>
<mat-divider></mat-divider>
 <div class="informacion">
   <p>
     Bienvenido a nuestra plataforma de inscripcion online de cursos, aqui podrar encontrar
     una variedad (lista) de los cursos que estamos dictando en nuestras instalaciones. Esta lista de cursos
     podras encontrarla en el apartado de Pre-inscripcion de cursos.
   </p>
    <p>
        Para optar por la inscripcion de un curso, usted primero debe realizar una Pre-inscripcion 
        de este mismo, <strong>la cual puede realizar en el boton aspirar.</strong> La Pre-inscripcion consta de la 
        realizacion de un examen el cual debe aprobar para optar 
        por un cupo en el curso el examen debe ser aprobado con un <strong>puntaje mayor o igual de 75 puntos,</strong> 
        una vez aprobado el examen usted puede inscribirlo en la seccion inscribir curso, 
        ahi debera ingresar el numero de referencia de la transferencia que debe realizar 
        para pagar el curso.
      </p>
      <p>
        Con esto ya estara inscrito en dicho curso, y podra asistir a nuestras instalaciones en el 
        horario indicado.
      </p>
 </div>
</mat-card>
