
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Cedula</th>
      <th scope="col">Correo</th>
      <th scope="col">Tipo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let profesor of arreglo_profesores">
      <td>{{profesor.id}}</td>
      <td>{{profesor.nombre}}</td>
      <td>{{profesor.apellido}}</td>
      <td>{{profesor.cedula}}</td>
      <td>{{profesor.correo}}</td>
      <td>{{profesor.tipo}}</td>
      <td>  
        <a class="btn btn-primary btn-danger" (click)="eliminarProfesor(profesor.id)">Eliminar</a>
      </td>
    </tr>
  </tbody>
</table>
