<mat-toolbar class="header">
  <div class="logo">
    <img src="../../assets/img/AEM_icon.jpg" alt="AEM Logo">
  </div>
  <div class="logo_siglas">
      <h1>AEM</h1>
  </div>
  <div class="sign_up_in">
    <button mat-raised-button (click)="openLogin()">Ingresar</button>
    <button mat-raised-button (click)="openRegistrar()">Registrarse</button>
  </div>
</mat-toolbar>
<div class="banner">
  <img src="../../assets/img/banner2.jpg" alt="banner">
</div>
<div class="publicidad">
  <h1>¡Inscribete YA!</h1>
  <p class="publicidad_p">Aprovecha De La Gran Variedad De Cursos Que Te Ofrecemos</p>
  <p class="publicidad_p">No Pierdas La Oportunidad</p>
  <p class="publicidad_p">Garantizamos tu Certificado!</p>
</div>
<div class="cursos_populares">
  <h3>Conoce Nuestros Cursos Mas Populares</h3>
  <div class="col">
    <mat-card class="cursos">
      <mat-icon class="space-icon">language <label>HTML Basico</label></mat-icon>
    </mat-card>
    <mat-card class="cursos">
      <mat-icon class="space-icon">web <label>CSS Basico</label></mat-icon>
    </mat-card>
    <mat-card class="cursos">
      <mat-icon class="space-icon">devices <label>Angular 6</label></mat-icon>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="cursos">
      <mat-icon class="space-icon">screen_share <label>Flask Python</label></mat-icon>
    </mat-card>
    <mat-card class="cursos">
      <mat-icon class="space-icon">storage <label>PostgreSQL</label></mat-icon>
    </mat-card>
    <mat-card class="cursos">
      <mat-icon class="space-icon">important_devices <label>JavaScript Basico</label></mat-icon>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="cursos">
      <mat-icon class="space-icon">title <label>TypeScript Basico</label></mat-icon>
    </mat-card>
    <mat-card class="cursos">
      <mat-icon class="space-icon">view_quilt <label>Bootstrap 4</label></mat-icon>
    </mat-card>
    <mat-card class="cursos">
      <mat-icon class="space-icon">gesture <label>Python 3</label></mat-icon>
    </mat-card>
  </div>
</div>
<div class="informacion">
  <div class="col_informacion">
    <label>¿Quienes Somos?</label>
    <label>Mision</label>
    <label>Vision</label>
  </div>
  <div class="col_informacion">
    <label>Contactanos</label>
    <label>Donde Encontranos</label>
    <label>Soporte</label>
  </div>
  <div class="col_informacion">
    <label>Nuestros Cursos</label>
  </div>
</div>
<mat-toolbar class="footer">
  <small>
    <p>2018 - Ediannys Gonzalez, Manuel Meneses &copy;</p>
  </small>
</mat-toolbar>
